@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div id="container">
        <div id="innerContainer">
            <div id="mainContent">
                <aside id="secondaryContent">
                    
                </aside>
            </div>
        </div>
    </div>
</body>
</html>

